<div id="slider-container" class="carousel slide container-fluid py-5 py-lg-6" data-bs-ride="carousel" data-bs-interval="false" style="background-color: {{ section.settings.background_color }}">
  <div class="carousel-inner px-5">
    {% for block in section['block_order'] %}
        {% block %}
    {% endfor %}
  </div>
  
  <button class="carousel-control-prev" type="button" data-bs-target="#slider-container" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" style="border-top: 2px solid {{ section.settings.arrow_color }}; border-right: 2px solid {{ section.settings.arrow_color }};" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#slider-container" data-bs-slide="next">
    <span class="carousel-control-next-icon" style="border-top: 2px solid {{ section.settings.arrow_color }}; border-right: 2px solid {{ section.settings.arrow_color }};" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<script>
    document.getElementsByClassName("slider-block")[0].classList.add("active");
</script>

{% styles %}
    .carousel-control-next,
    .carousel-control-prev {
        opacity: 1;
    }
    
    .carousel-control-prev-icon,
    .carousel-control-next-icon{
        background: none;
        height: 30px;
        width: 30px;
        transform: rotate(225deg);
    }
    
    .carousel-control-next-icon {
        transform: rotate(45deg);
    }
    
    @media only screen and (min-width: 992px) {
        .carousel-inner {
            max-width: 540px;
            padding: 0 !important;
            margin: 0 auto;
        }
    }
{% endstyles %}


{% schema %}
{
    "name": "slider",
    "description": "Slider that enables the user to choose between image and text display, image only and text only option",
    "settings": [
        {
            "type": "color",
            "id": "background_color",
            "label": "Background Color",
            "default": "#F2F8FF"
        },
        {
            "type": "color",
            "id": "arrow_color",
            "label": "Arrow Color",
            "default": "#0065f2"
        }
    ],
    "blocks": [
        {
            "type": "slider_block",
            "name": "Slider Block"
        }
    ]
}
{% endschema %}