<div class="slider-block carousel-item text-center">
    <img class="rounded-pill mb-4 {% if block.content_type == "text_only" %}visually-hidden{% endif %}" src="{{ block.block_image | image_url }}" alt="{{ block.name }}">
    <div class="mb-4 secondary {% if block.content_type == "img_only" %}visually-hidden{% endif %}">{{ block.block_text }}</div>
    <h4 class="{% if block.content_type == "img_only" %}visually-hidden{% endif %}">{{ block.name }}</h4>
    <h5 class="{% if block.content_type == "img_only" %}visually-hidden{% endif %}">{{ block.description }}</h5>
</div>

<style>
    .slider-block > img {
        width: 60px;
        height: 60px;
        overflow: hidden;
    }
    
    @media only screen and (min-width: 992px) {
        .slider-block > img {
            width: 90px;
            height: 90px;
            overflow: hidden;
        }
    }
</style>

    
{% schema %}
{
    "name": "Slider Block",
    "settings": [
        {
            "type": "select",
            "id": "content_type",
            "label": "Content Type",
            "default": "img_and_text",
            "options": [
            {
                "label": "Image and Text",
                "value": "img_and_text"
            },
            {
                "label": "Image Only",
                "value": "img_only"
            },
            {
                "label": "Text Only",
                "value": "text_only"
            }]
        },
        {
            "type": "image_picker",
            "id": "block_image",
            "label": "Author Image",
            "default": ""
        },
        {
            "type": "richtext",
            "id": "block_text",
            "label": "Testimonial Text",
            "default": ""
        },
        {
            "type": "text",
            "id": "name",
            "label": "Author Name",
            "default": ""
        },
        {
            "type": "text",
            "id": "description",
            "label": "Author Description",
            "default": ""
        }
    ]
}
{% endschema %}